// Core variables
@import "bootstrap-variables";
@import "variables";

.shortcode {
  outline: solid $brand-secondary 1px;
  margin: 0 2px;
  padding: 0 3px;
  box-shadow: $brand-secondary inset 0 0 2px 0;
  border-radius: 1px;
  display: inline-flex;
  vertical-align: middle;
  align-items: stretch;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    position: relative;
    left: -3px;
    margin-right: -1px;
    background-color: $brand-secondary;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    content: attr(data-shortcode);
    color: white;
    font-size: 0.7em;
    padding: 0 3px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
  }
}

.shortcodable-input {
  &:not([aria-multiline]) {
    white-space: nowrap !important;
    overflow-x: scroll;
    overflow-y: visible;
    scrollbar-width: 0;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    & + .input-group-append {
      .btn-toolbar {
        margin: 0;
      }
      .btn-group {
        margin-right: 0;
      }
    }
  }

  &--disabled.form-control,
  &--readonly.form-control {
    background-color: $input-disabled-bg;
    opacity: 1;
  }

//   & + input[type="text"].text {
//     display: none;
//   }
}

.shortcode__selected-content {
  display: block;
  border-left: 3px solid $gray-300;
  padding-left: 0.5em;
  margin-top: 0.5em;
}

.btn-subdued:hover {
  background: $gray-100;
}

.cms-sitename .cms-sitename__title span {
  display: inline;
  padding-left: 0;
}
