// Core variables
@import "bootstrap-variables";
@import "variables";

.shortcode {
  outline: solid $brand-secondary 1px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px 3px;
  box-shadow: $brand-secondary inset 0 0 2px 0;
  border-radius: 1px;
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: $brand-secondary;
    display: block;
    content: attr(data-shortcode);
    color: white;
    font-size: 10px;
    padding: 0 3px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
  }
}

.shortcodable-input {
  &:not([aria-multiline]) {
    white-space: nowrap !important;
    // overflow-x: scroll; // webkit bug? makes Y axis overlays get hidden with all settings here excepting 'visible' - the shortcode tag currently overlays the top border so figure out later.
    overflow-y: visible;
    scrollbar-width: 0;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--disabled.form-control,
  &--readonly.form-control {
    background-color: $input-disabled-bg;
    opacity: 1;
  }

  &__menu {
    // position: absolute;
    &::after {
      position: absolute;
      rotate: 45deg;
    }
  }
//   & + input[type="text"].text {
//     display: none;
//   }
}
